<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>yu-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73E3FE501C96A8A300BFDFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73E3FE691C96A8A300BFDFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73E3FE741C96A8A300BFDFF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
